@font-face {
    font-family: Segoe-UI;
    src: url(../fonts/SegoeUI.ttf);
}

@font-face{
    font-family: Segoe-UI_700;
    src: url(../fonts/SegoeUI-Bold.ttf);
}

@font-face{
    font-family: Segoe-UI_600;
    src: url(../fonts/SegoeUI-SemiBold.ttf);
}

@font-face {
    font-family: SofiaSans-900;
    src: url(../fonts/SofiaSans-Black.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-LightItalic.ttf);
}